version: '3.7'

services:
  sonarqube:
    image: sonarqube:community
    depends_on:
      - db
    networks:
      - sonar_net
    environment:
      SONAR_JDBC_URL: jdbc:postgresql://db:5432/sonarqube
      SONAR_JDBC_USERNAME: sonar
      SONAR_JDBC_PASSWORD: sonar
    ports:
      - "9000:9000"
    volumes:
      - sonar_data:/opt/sonarqube/data
      - sonar_logs:/opt/sonarqube/logs

  db:
    image: postgres:latest
    environment:
      POSTGRES_USER: sonar
      POSTGRES_PASSWORD: sonar
      POSTGRES_DB: sonarqube
    networks:
      - sonar_net
    ports:
      - "5432:5432"
    volumes:
      - sonar_db:/var/lib/postgresql/data

networks:
  sonar_net:
    driver: bridge

volumes:
  sonar_data:
  sonar_logs:
  sonar_db:
